/*index.html CSS*/
body 
{
  overflow-x: hidden; /* Hide scrollbars */
}
////

/*
img 
{
    transition: transform .2s;  Animation 
}

img:hover 
{
    transform: scale(1.2);  (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) 
}
*/

/*Login Form*/
/* Extra styles for the cancel button */
.container .cancelBtn 
{
    width: auto;
    padding: 10px 18px;
    background-color: darkred;
    border: none;
}

.cancelBtn:hover
{
    cursor: pointer;
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer 
{
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container 
{
    width: 100%;
    padding: 5px;
    z-index: 1; /* Sit on top */
}

span.psw 
{
    position: relative;
    top: -1vw;
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.gameModal 
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    top: 100px;
    left:0;
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 65%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 0px;
}

/* Modal Content/Box */
.gameModal-content 
{
    background: radial-gradient(black,rgb(50,50,50,0.6));
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 0.2vw solid grey;
    width: 80%; /* Could be more or less, depending on screen size */
    font-family: calibri;
   font-size: 20px;
    color: white;
    
    text-shadow: 0.1vw 0vw black,
                0vw 0.1vw black,
                -0.1vw 0vw black,
                0vw -0.1vw black;
        z-index: 1; /* Sit on top */
}

/* The Close Button (x) */
.close 
{
    position: absolute;
    right: 25px;
    top: 0;
    color: white;
    font-size: 3vw;
    font-weight: bold;
}

.close:hover,
.close:focus 
{
    color: red;
    cursor: pointer;
}
///////////////

.GameMAGMainImage
{
    position: absolute;
    top: 15vw;
    left: 4vw;
    width: 20vw;
    z-index: 1;
}

.GAME-MainLogo
{
    position: absolute;
    text-decoration: none;
    font-size: 8vw;
    padding: 0vw;
    top: 10vw;
    left: 4vw;
    font-family: Calibri;
    color: white;
    text-shadow: 0.11vw 0.1vw #FF0000;
    z-index: 1;
}

.MAG-MainLogo
{
    position: absolute;
    text-decoration:none;
    font-size: 10vw;
    padding: 0vw;
    top:13vw;
    left: 4vw;
    font-family: Calibri;
    color: white;
    text-shadow: 0.11vw 0.1vw #FF0000;
    z-index: 1;
}



.MainImageTitle
{
    position: absolute;
    top: 5vw;
    left: 2.5vw;
    font-size: 5vw;
    font-family: Calibri;
    color: white;
    z-index: 1;
    
/*
    text-shadow: 0vw 0.2vw purple, 
                 0.2vw 0vw black,
                 0vw -0.2vw white,
                 -0.2vw 0vw black;
*/
    
}


#sketchContainer
{
    position: relative;
    top: 50px;
    background-image: url("Style%20Images/5211331c3267926037327cb79eab9bd8.jpg");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

@media only screen and (max-width: 1000px) 
{   
    .parallax
    {
        margin-top: -15vw;
        background-attachment: fixed;
        background-position: center;
        min-height: 240vw;
    }
}

/*Main Page IMAGE*/
/* Slideshow container */
.slideshow-container img
{
    top: 3vw;
    position: relative;
    margin: auto;
    transition: transform .60s; /* Animation */
    text-align: center;
    width: 100%; 
    background-image: linear-gradient(red, yellow);
    z-index: 0;
    
    animation-name: zoomer;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.slideshow-container img:hover
{
    transform: scale(1.01); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

@media only screen and (max-width: 1000px) 
{
    .slideshow-container img
    {
        width: 100%;
        left: 0%;
        top: 15vw;
    }
}

.Block_Gradient
{
    top: 0vw;
    left: 0vw;
    position: absolute;
    height: 65vw;
    width: 100vw;
    
    background-image: linear-gradient(white,white,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,white,white,white);
    
    z-index: 1;
}

@media only screen and (max-width: 1000px) 
{
    .Block_Gradient
    {
        width: 100%;
        height: 125vw;
        left: 0;
        top: -20vw;
        background-image: linear-gradient(transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,black,black,black,black,black,transparent);
    }
}

.Block_Gradient01
{
    top: -19.9vw;
    left: 0vw;
    position: absolute;
    height: 80vw;
    width: 100%;
    
    background-image: linear-gradient(transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent);
    
    z-index: 1;
}

@media only screen and (max-width: 1000px) 
{
    .Block_Gradient01
    {
        width: 100%;
        height: 125vw;
        left: 0;
        top: -20vw;
        background:
    }
}

.Block_Gradient03
{
    top: -85vw;
    left: -0vw;
    position: relative;
    height: 86.5vw;
    width: 100%;
    background-image: linear-gradient(white,white,white,white,white,white,white,white,white,blue,darkblue,transparent);
    z-index: 3;
}

@media only screen and (max-width: 1000px) 
{
    .Block_Gradient03
    {
        top: -85vw;
        width: 104%;
        left: -2vw;
    }
}

.Block_Gradient04
{
    top: -95vw;
    left: 0vw;
    position: relative;
    height: 86.5vw;
    width: 100%;
    background-image: linear-gradient(transparent,black,black,black,black,black,black,black,black,green,darkgreen,transparent);
    z-index: 3;
}

@media only screen and (max-width: 1000px) 
{
    .Block_Gradient04
    {
        top: -105vw;
        width: 104%;
        left: -2vw;
    }
}

.Block_Gradient05
{
    top: -95vw;
    left: 0vw;
    position: relative;
    height: 86.5vw;
    width: 100%;
    background-image: linear-gradient(transparent,white,white,white,white,white,white,white,white,pink,purple,transparent);
    z-index: 3;
}

@media only screen and (max-width: 1000px) 
{
    .Block_Gradient05
    {
        top: -105vw;
        width: 104%;
        left: -2vw;
    }
}

/*PS5 Preview Content*/
.Preview_Content
{
    position: absolute;
    top: 90vw;
    width: 100%;
    z-index: 1;
}

@media only screen and (max-width: 1000px) 
{
    .Preview_Content
    {
        top: 380vw;
    }
}

.ps5_logo
{
    position: relative;
    top: -169vw;
    left: 2vw;
    z-index: 3;
}

.ps5_logo img
{
    width:15vw;
}

.ps5_console
{
    position: relative;
    top: -168vw;
    left: 2vw;
    z-index: 3;
}

.ps5_console img
{
    width:45vw;
}

.ps5_consoledigi
{
    position: relative;
    top: -241vw;
    left: 50vw;
    z-index: 3;
}

.ps5_consoledigi img
{
    width:45vw;
}

.ps5_headers
{
    position: relative;
    font-family: Calibri;  
    text-align: center;
    left: -25vw;
    font-size: 2vw;
    z-index: 5;
}

.PS5ConsoleButton01
{
    position: relative;
    width: 16vw;
    top: -200vw;
    left: 27vw;
    color: grey;
    text-align: center;
    background: transparent;
    font-family: Calibri;
    font-size: 1vw;
    padding: 0.5vw;
    z-index: 3;
}

.PS5ConsoleButton02
{
    position: relative;
    width: 16vw;
    top: -271.7vw;
    left: 52vw;
    color: grey;
    text-align: center;
    font-family: Calibri;
    font-size: 1vw;
    z-index: 3;
}

.ps5button
{
    width: 17vw;
    color: grey;
    text-align: center;
    background: transparent;
    font-family: Calibri;
    font-size: 1.5vw;
    padding: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border: 0.3vw solid grey;
    transition: transform .2s; /* Animation */
}

.ps5digibutton
{
    width: 17vw;
    color: grey;
    text-align: center;
    background: transparent;
    font-family: Calibri;
    font-size: 1.5vw;
    padding: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border: 0.3vw solid grey;
    transition: transform .2s; /* Animation */
}

.PS5Games
{
    position: relative;
    width: 16vw;
    top: -248.5vw;
    left: 3vw;
    color: white;
    text-align: center;
    background: transparent;
    font-family: Calibri;
    font-size: 1vw;
    padding: 0.5vw;
    z-index: 3; 
}

.PS5GamesButton
{
    width: 18vw;
    color: white;
    text-align: center;
    background: transparent;
    font-family: Calibri;
    font-size: 1.5vw;
    padding: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border: 0.3vw solid white;
    transition: transform .2s; /* Animation */
}

.ps5button:hover
{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.ps5digibutton:hover
{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.PS5GamesButton:hover
{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.PS5_Image_Gallery img
{
    position: relative;
    top: -258vw;
    margin: 0.5vw;
    left: 25vw;
    text-align: center;
    border: 0.1vw solid black;
    float: left;
    width: 17%;
    z-index: 3;
    transition: transform .2s; /* Animation */
}

.PS5_Image_Gallery img:hover
{
    text-align: center;
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.GOW_Logo_Prev
{
    position: absolute;
    top: -20vw;
    left: 1vw;
}

.GOW_Logo_Prev img
{
   width: 50vw;
}

.GOW_Prev
{
    position: absolute;
    top: 10vw;  
    left: 1vw;
}

.GOW_Prev iframe
{
    padding: 1vw;
    border-radius: 2%;
    width: 50vw;
    height: 28vw;
    border: 0.3vw solid white;
}

.GOW_Content_Prev01
{
    position: absolute;
    top: 0vw;
    left: 56%;
    background: rgb(0,0,0,0.5);
    width: 40%;
    height: 48vw;
    border: none;
    font-family: Calibri;
    color: white;
    padding: 1vw;
    font-size: 1.13vw;
    border-radius: 2%;
    border: 0.3vw solid white;
}

.GOW_Content_Prev02
{
    position: absolute;
    top: 41vw;
    left: 1vw;
    background: rgb(0,0,0,0.5);
    width: 25%;
    height: 18vw;
    border: none;
    font-family: Calibri;
    color: white;
    padding: 1vw;
    font-size: 1.13vw;
    border-radius: 2%;
    border: 0.3vw solid white;
}

.GOW_Content_Prev03
{
    position: absolute;
    top: 41vw;
    left: 28.5vw;
    background: rgb(0,0,0,0.5);
    width: 23%;
    height: 18vw;
    border: none;
    font-family: Calibri;
    color: white;
    padding: 1vw;
    font-size: 1.13vw;
    border-radius: 2%;
    border: 0.3vw solid white;
}

.GOW_Content_Prev04
{
    position: absolute;
    top: 51vw;
    left: 55vw;
    background: rgb(0,0,0,0.5);
    width: 40%;
    height: 15vw;
    border: none;
    font-family: Calibri;
    color: white;
    padding: 1vw;
    font-size: 1.13vw;
    border-radius: 2%;
    border: 0.3vw solid white;
}

.GOW_Content_Prev01 h1, 
.GOW_Content_Prev03 h1, 
.GOW_Content_Prev04 h1
{
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 1vw;
    color: white;
    text-shadow: 0.1vw 0vw blue,
        0.1vw 0vw blue,
        0vw -0.1vw blue,
        -0.1vw 0vw blue;
}

div.OOPLogo
{
    position: relative;
    top: 84vw;
    margin-right: 4vw;
    left: 1vw;
    text-align: center;
    float: left;
    width: 10%;
    z-index: 3;
}

div.OOPLogo img
{
    
    width: 100%;
    filter: invert()
    
}

@media only screen and (max-width: 1000px) 
{
    .GOW_Logo_Prev
    {
        position: absolute;
        top: -27vw;
        left: 14%;
    }

    .GOW_Logo_Prev img
    {
        display: none;
    }

    .GOW_Prev
    {
        position: relative;
        top: -250vw;  
        text-align: center;
    }
    
    .GOW_Prev iframe
    {
        padding: 1vw;
        border-radius: 2%;
        width: 90vw;
        height: 50vw;
        border: 0.4vw solid white;
    }

    .GOW_Content_Prev01
    {
        display: none;
    }

    .GOW_Content_Prev02
    {
        display: none;
    }

    .GOW_Content_Prev03
    {
        display: none;
    }

    .GOW_Content_Prev04
    {
        display: none;
    }
    
    div.OOPLogo
    {
        position: relative;
        top: 193vw;
        padding: 1vw;
        margin-right: 4vw;
        left: 13vw;
        text-align: center;
        float: left;
        width: 13%;
        z-index: 3;
    }

    div.OOPLogo img
    {

        width: 100%;
        filter: invert()

    }
}




/*XBOX Preview Content*/
.XBOX_Preview_Content
{
    position: absolute;
    top: 336vw;
    left: 0vw;
    z-index: 2;
}

@media only screen and (max-width: 1000px) 
{
    .XBOX_Preview_Content
    {
        top: 550vw;
    }
}

.XBOX_logo
{
    position: relative;
    top: -164vw;
    left: 2vw;
    z-index: 3;
}

.XBOX_logo img
{
    width:15vw;
}

.XBOX_console
{
    position: relative;
    top: -168vw;
    left: 2vw;
    z-index: 3;
}

.XBOX_console img
{
    width: 45vw;
    border-radius: 10%;
    border: 0.1vw solid white;
}

.XBOX_consoledigi
{
    position: relative;
    top: -230vw;
    left: 50vw;
    z-index: 3;
}

.XBOX_consoledigi img
{
    width: 45vw;
    border-radius: 10%;
    border: 0.1vw solid white;
}

.XBOX_headers
{
    position: relative;
    font-family: Calibri;  
    text-align: center;
    left: -25vw;
    font-size: 2vw;
    z-index: 5;
}

.XBOXConsoleButton01
{
    position: relative;
    width: 16vw;
    top: -214vw;
    left: 3vw;
    color: grey;
    text-align: center;
    background: transparent;
    font-family: Calibri;
    font-size: 1vw;
    padding: 0.5vw;
    z-index: 3;
}

.XBOXConsoleButton02
{
    position: relative;
    width: 16vw;
    top: -275vw;
    left: 52vw;
    color: grey;
    text-align: center;
    font-family: Calibri;
    font-size: 1vw;
    z-index: 3;
}

.XBOXbutton
{
    width: 17vw;
    color: grey;
    text-align: center;
    background: transparent;
    font-family: Calibri;
    font-size: 1.5vw;
    padding: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border: 0.3vw solid grey;
    transition: transform .2s; /* Animation */
}

.XBOXdigibutton
{
    width: 17vw;
    color: grey;
    text-align: center;
    background: transparent;
    font-family: Calibri;
    font-size: 1.5vw;
    padding: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border: 0.3vw solid grey;
    transition: transform .2s; /* Animation */
}

.XBOXGames
{
    position: relative;
    width: 16vw;
    top: -238vw;
    left: 3vw;
    color: white;
    text-align: center;
    background: transparent;
    font-family: Calibri;
    font-size: 1vw;
    padding: 0.5vw;
    z-index: 3; 
}

.XBOXGamesButton
{
    width: 19vw;
    color: white;
    text-align: center;
    background: transparent;
    font-family: Calibri;
    font-size: 1.5vw;
    padding: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border: 0.3vw solid white;
    transition: transform .2s; /* Animation */
}

.XBOXbutton:hover
{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.XBOXdigibutton:hover
{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.XBOXGamesButton:hover
{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.XBOX_Image_Gallery img
{
    position: relative;
    top: -246vw;
    margin: 0.5vw;
    left: 25vw;
    text-align: center;
    border: 0.1vw solid white;
    float: left;
    width: 17%;

    z-index: 3;
    transition: transform .2s; /* Animation */
}

.XBOX_Image_Gallery img:hover
{
    text-align: center;
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}



.Forza_Logo_Prev
{
    position: absolute;
    top: -11vw;
    left: 16vw;
}

.Forza_Logo_Prev img
{
   width: 20vw;
}

.Forza_Prev
{
    position: absolute;
    top:10vw;  
    left: 1vw;
}

.Forza_Prev iframe
{
    padding: 1vw;
    border-radius: 2%;
    width: 50vw;
    height: 28vw;
    border: 0.2vw solid white;
}

.Forza_Content_Prev01
{
    position: absolute;
    top: -10vw;
    left: 56%;
    background: rgb(0,0,0,0.5);
    width: 40%;
    height: 48vw;
    border: none;
    font-family: Calibri;
    color: white;
    padding: 1vw;
    font-size: 1.13vw;
    border-radius: 2%;
    border: 0.2vw solid white;
}

.Forza_Content_Prev02
{
    position: absolute;
    top: 42vw;
    left: 1vw;
    background: rgb(0,0,0,0.5);
    width: 31%;
    height: 17vw;
    border: none;
    font-family: Calibri;
    color: white;
    padding: 1vw;
    font-size: 1.13vw;
    border-radius: 2%;
    border: 0.2vw solid white;
}

.Forza_Content_Prev03
{
    position: absolute;
    top: 42vw;
    left: 35vw;
    background: rgb(0,0,0,0.5);
    width: 23%;
    height: 17vw;
    border: none;
    font-family: Calibri;
    color: white;
    padding: 1vw;
    font-size: 1.13vw;
    border-radius: 2%;
    border: 0.2vw solid white;
}

.Forza_Content_Prev04
{
    position: absolute;
    top: 42vw;
    left: 60.8vw;
    background: rgb(0,0,0,0.5);
    width: 32.5%;
    height: 17vw;
    border: none;
    font-family: Calibri;
    color: white;
    padding: 1vw;
    font-size: 1.13vw;
    border-radius: 2%;
    border: 0.2vw solid white;
}

.Forza_Content_Prev01 h1, 
.Forza_Content_Prev03 h1, 
.Forza_Content_Prev04 h1
{
    text-align: center;
    font-family: Castellar;
    font-weight: bold;
    font-size: 0.8vw;
    color: white;
    text-shadow: 0.1vw 0vw black,
        0.1vw 0vw red,
        0vw -0.1vw black,
        -0.1vw 0vw red;
}

@media only screen and (max-width: 1000px) 
{
    .Forza_Logo_Prev
    {
        position: absolute;
        top: -11vw;
        left: 40%;
    }

    .Forza_Logo_Prev img
    {
        display: none;
    }

    .Forza_Prev
    {
        position: relative;
        top: -240vw;  
        text-align: center;
    }
    
    .Forza_Prev iframe
    {
        padding: 1vw;
        border-radius: 2%;
        width: 90vw;
        height: 50vw;
        border: 0.4vw solid white;
    }

    .Forza_Content_Prev01
    {
        display: none;
    }

    .Forza_Content_Prev02
    {
        display: none;
    }

    .Forza_Content_Prev03
    {
        display: none;
    }

    .Forza_Content_Prev04
    {
        display: none;
    }
    
    div.OOPLogo01
    {
        position: relative;
        top: 154vw;
        padding: 1vw;
        margin-right: 4vw;
        left: 0vw;
        text-align: center;
        float: left;
        width: 8%;
        z-index: 3;
    }

    div.OOPLogo01 img
    {

        width: 100%;
        filter: invert()

    }
}




/*NS Preview Content*/
.NS_Preview_Content
{
    position: absolute;
    top: 488vw;
    z-index: 2;
}

@media only screen and (max-width: 1000px) 
{
    .NS_Preview_Content
    {
        top: 707vw;
    }
}

.NS_logo
{
    position: relative;
    top: -169vw;
    left: 2vw;
    z-index: 3;
}

.NS_logo img
{
    width:15vw;
}

.NS_console
{
    position: relative;
    top: -148vw;
    left: 10vw;
    z-index: 3;
}

.NS_console img
{
    width: 35vw;
    border-radius: 10%;
    border: 0.1vw solid transparent;
}

.NS_consoledigi
{
    position: relative;
    top: -175vw;
    left: 50vw;
    z-index: 3;
}

.NS_consoledigi img
{
    width: 35vw;
    border-radius: 10%;
    border: 0.1vw solid transparent;
}

.NS_headers
{
    position: relative;
    font-family: Calibri;  
    text-align: center;
    left: -25vw;
    font-size: 2vw;
    z-index: 5;
}

.NSConsoleButton01
{
    position: relative;
    width: 17vw;
    top: -180vw;
    left: 18vw;
    color: grey;
    text-align: center;
    background: transparent;
    font-family: Calibri;
    font-size: 1vw;
    padding: 0.5vw;
    z-index: 3;
}

.NSConsoleButton02
{
    position: relative;
    width: 18vw;
    top: -208vw;
    left: 58vw;
    color: grey;
    text-align: center;
    font-family: Calibri;
    font-size: 1vw;
    z-index: 3;
}

.NSbutton
{
    width: 17vw;
    color: grey;
    text-align: center;
    background: transparent;
    font-family: Calibri;
    font-size: 1.5vw;
    padding: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border: 0.3vw solid grey;
    transition: transform .2s; /* Animation */
}

.NSdigibutton
{
    width: 18vw;
    color: grey;
    text-align: center;
    background: transparent;
    font-family: Calibri;
    font-size: 1.5vw;
    padding: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border: 0.3vw solid grey;
    transition: transform .2s; /* Animation */
}

.NSGames
{
    position: relative;
    width: 23vw;
    top: -173vw;
    left: 1vw;
    color: white;
    text-align: center;
    background: transparent;
    font-family: Calibri;
    font-size: 1vw;
    padding: 0.5vw;
    z-index: 3; 
}

.NSGamesButton
{
    width: 22vw;
    color: white;
    text-align: center;
    background: transparent;
    font-family: Calibri;
    font-size: 1.5vw;
    padding: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border: 0.3vw solid white;
    transition: transform .2s; /* Animation */
}

.NSbutton:hover
{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.NSdigibutton:hover
{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.NSGamesButton:hover
{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.NS_Image_Gallery img
{
    position: relative;
    top: -181.5vw;
    margin: 0.5vw;
    left: 25vw;
    text-align: center;
    border: 0.1vw solid white;
    float: left;
    width: 17%;

    z-index: 3;
    transition: transform .2s; /* Animation */
}

.NS_Image_Gallery img:hover
{
    text-align: center;
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.Mario_Logo_Prev
{
    position: absolute;
    top: -11vw;
    left: 16vw;
}

.Mario_Logo_Prev img
{
   width: 20vw;
}

.Mario_Prev
{
    position: absolute;
    top:10vw;  
    left: 1vw;
}

.Mario_Prev iframe
{
    
    padding: 1vw;
    border-radius: 2%;
    width: 50vw;
    height: 28vw;
    border: 0.2vw solid white;
}

.Mario_Content_Prev01
{
    position: absolute;
    top: -10vw;
    left: 56%;
    background: rgb(0,0,0,0.5);
    width: 40%;
    height: 48vw;
    border: none;
    font-family: Calibri;
    color: white;
    padding: 1vw;
    font-size: 1.13vw;
    border-radius: 2%;
    border: 0.2vw solid white;
}

.Mario_Content_Prev02
{
    position: absolute;
    top: 42vw;
    left: 1vw;
    background: rgb(0,0,0,0.5);
    width: 31%;
    height: 17vw;
    border: none;
    font-family: Calibri;
    color: white;
    padding: 1vw;
    font-size: 1.13vw;
    border-radius: 2%;
    border: 0.2vw solid white;
}

.Mario_Content_Prev03
{
    position: absolute;
    top: 42vw;
    left: 35vw;
    background: rgb(0,0,0,0.5);
    width: 23%;
    height: 17vw;
    border: none;
    font-family: Calibri;
    color: white;
    padding: 1vw;
    font-size: 1.13vw;
    border-radius: 2%;
    border: 0.2vw solid white;
}

.Mario_Content_Prev04
{
    position: absolute;
    top: 42vw;
    left: 60.8vw;
    background: rgb(0,0,0,0.5);
    width: 34%;
    height: 17vw;
    border: none;
    font-family: Calibri;
    color: white;
    padding: 1vw;
    font-size: 1.13vw;
    border-radius: 2%;
    border: 0.2vw solid white;
}

.Mario_Content_Prev01 h1, 
.Mario_Content_Prev03 h1, 
.Mario_Content_Prev04 h1
{
    text-align: center;
    font-family: Castellar;
    font-weight: bold;
    font-size: 0.8vw;
    color: white;
    text-shadow: 0.1vw 0vw black,
        0.1vw 0vw red,
        0vw -0.1vw black,
        -0.1vw 0vw red;
}

@media only screen and (max-width: 1000px) 
{
    .Mario_Logo_Prev
    {
        position: absolute;
        top: -11vw;
        left: 40%;
    }

    .Mario_Logo_Prev img
    {
        display: none;
    }

    .Mario_Prev
    {
        position: relative;
        top: -177vw;  
        text-align: center;
    }
    
    .Mario_Prev iframe
    {
        padding: 1vw;
        border-radius: 2%;
        width: 90vw;
        height: 50vw;
        border: 0.4vw solid white;
    }

    .Mario_Content_Prev01
    {
        display: none;
    }

    .Mario_Content_Prev02
    {
        display: none;
    }

    .Mario_Content_Prev03
    {
        display: none;
    }

    .Mario_Content_Prev04
    {
        display: none;
    }
    
    div.OOPLogo01
    {
        position: relative;
        top: 154vw;
        padding: 1vw;
        margin-right: 4vw;
        left: 0vw;
        text-align: center;
        float: left;
        width: 8%;
        z-index: 3;
    }

    div.OOPLogo01 img
    {

        width: 100%;
        filter: invert()

    }
}









/*NS Preview Content*/
.PC_Preview_Content
{
    position: absolute;
    top: 644vw;
    z-index: 2;
}

@media only screen and (max-width: 1000px) 
{
    .PC_Preview_Content
    {
        top: 860vw;
    }
}

.PC_logo
{
    position: relative;
    top: -169vw;
    left: 2vw;
    z-index: 3;
}

.PC_logo img
{
    width:15vw;
}

.PC_console
{
    position: relative;
    top: -164vw;
    left: 10vw;
    z-index: 3;
}

.PC_console img
{
    width: 35vw;
    border-radius: 10%;
    border: 0.1vw solid transparent;
}

.PC_consoledigi
{
    position: relative;
    top: -209.5vw;
    left: 55vw;
    z-index: 3;
}

.PC_consoledigi img
{
    width: 35vw;
    border-radius: 10%;
    border: 0.1vw solid transparent;
}

.PC_headers
{
    position: relative;
    font-family: Calibri;  
    text-align: center;
    left: -25vw;
    font-size: 2vw;
    z-index: 5;
}

.PCConsoleButton01
{
    position: relative;
    width: 17vw;
    top: -205.5vw;
    left: 19vw;
    color: grey;
    text-align: center;
    background: transparent;
    font-family: Calibri;
    font-size: 1vw;
    padding: 0.5vw;
    z-index: 3;
}

.PCConsoleButton02
{
    position: relative;
    width: 18vw;
    top: -250.5vw;
    left: 65vw;
    color: grey;
    text-align: center;
    font-family: Calibri;
    font-size: 1vw;
    z-index: 3;
}

.PCbutton
{
    width: 17vw;
    color: grey;
    text-align: center;
    background: transparent;
    font-family: Calibri;
    font-size: 1.5vw;
    padding: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border: 0.3vw solid grey;
    transition: transform .2s; /* Animation */
}

.PCdigibutton
{
    width: 18vw;
    color: grey;
    text-align: center;
    background: transparent;
    font-family: Calibri;
    font-size: 1.5vw;
    padding: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border: 0.3vw solid grey;
    transition: transform .2s; /* Animation */
}

.PCGames
{
    position: relative;
    width: 23vw;
    top: -216vw;
    left: 1vw;
    color: white;
    text-align: center;
    background: transparent;
    font-family: Calibri;
    font-size: 1vw;
    padding: 0.5vw;
    z-index: 3; 
}

.PCGamesButton
{
    width: 22vw;
    color: white;
    text-align: center;
    background: transparent;
    font-family: Calibri;
    font-size: 1.5vw;
    padding: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border: 0.3vw solid white;
    transition: transform .2s; /* Animation */
}

.PCbutton:hover
{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.PCdigibutton:hover
{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.PCGamesButton:hover
{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.PC_Image_Gallery img
{
    position: relative;
    top: -225vw;
    margin: 0.5vw;
    left: 25vw;
    text-align: center;
    border: 0.1vw solid white;
    float: left;
    width: 17%;

    z-index: 3;
    transition: transform .2s; /* Animation */
}

.PC_Image_Gallery img:hover
{
    text-align: center;
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.AA_Logo_Prev
{
    position: absolute;
    top: -7vw;
    left: 16vw;
}

.AA_Logo_Prev img
{
   width: 20vw;
}

.AA_Prev
{
    position: absolute;
    top:15vw;
    left: 1vw;
}

.AA_Prev iframe
{
    padding: 1vw;
    border-radius: 2%;
    width: 50vw;
    height: 28vw;
    border: 0.2vw solid white;
}

.AA_Content_Prev01
{
    position: absolute;
    top: -5vw;
    left: 56%;
    background: rgb(0,0,0,0.5);
    width: 40%;
    height: 48vw;
    border: none;
    font-family: Calibri;
    color: white;
    padding: 1vw;
    font-size: 1.13vw;
    border-radius: 2%;
    border: 0.2vw solid white;
}

.AA_Content_Prev02
{
    position: absolute;
    top: 47vw;
    left: 1vw;
    background: rgb(0,0,0,0.5);
    width: 31%;
    height: 17vw;
    border: none;
    font-family: Calibri;
    color: white;
    padding: 1vw;
    font-size: 1.13vw;
    border-radius: 2%;
    border: 0.2vw solid white;
}

.AA_Content_Prev03
{
    position: absolute;
    top: 47vw;
    left: 35vw;
    background: rgb(0,0,0,0.5);
    width: 23%;
    height: 17vw;
    border: none;
    font-family: Calibri;
    color: white;
    padding: 1vw;
    font-size: 1.13vw;
    border-radius: 2%;
    border: 0.2vw solid white;
}

.AA_Content_Prev04
{
    position: absolute;
    top: 47vw;
    left: 60.8vw;
    background: rgb(0,0,0,0.5);
    width: 34%;
    height: 17vw;
    border: none;
    font-family: Calibri;
    color: white;
    padding: 1vw;
    font-size: 1.13vw;
    border-radius: 2%;
    border: 0.2vw solid white;
}

.AA_Content_Prev01 h1, 
.AA_Content_Prev03 h1, 
.AA_Content_Prev04 h1
{
    text-align: center;
    font-family: Castellar;
    font-weight: bold;
    font-size: 0.8vw;
    color: white;
    text-shadow: 0.1vw 0vw black,
        0.1vw 0vw red,
        0vw -0.1vw black,
        -0.1vw 0vw red;
}

@media only screen and (max-width: 1000px) 
{
    .AA_Logo_Prev
    {
        position: absolute;
        top: -11vw;
        left: 40%;
    }

    .AA_Logo_Prev img
    {
        display: none;
    }

    .AA_Prev
    {
        position: relative;
        top: -220vw;  
        text-align: center;
    }
    
    .AA_Prev iframe
    {
        padding: 1vw;
        border-radius: 2%;
        width: 90vw;
        height: 50vw;
        border: 0.4vw solid white;
    }

    .AA_Content_Prev01
    {
        display: none;
    }

    .AA_Content_Prev02
    {
        display: none;
    }

    .AA_Content_Prev03
    {
        display: none;
    }

    .AA_Content_Prev04
    {
        display: none;
    }
    
    div.OOPLogo01
    {
        position: relative;
        top: 154vw;
        padding: 1vw;
        margin-right: 4vw;
        left: 0vw;
        text-align: center;
        float: left;
        width: 8%;
        z-index: 3;
    }

    div.OOPLogo01 img
    {

        width: 100%;
        filter: invert()

    }
}









.Block_Gradient02
{
    top: -85vw;
    left: -1%;
    position: relative;
    height: 85vw;
    width: 51%;
    background-image: linear-gradient(black,black,black,black);
    z-index: 1;
}

@media only screen and (max-width: 1000px) 
{
    .Block_Gradient02
    {
        width: 55%;
        left: -2%;
    }
}


/* Next & previous buttons */
.prev, .next 
{
    cursor: pointer;
    position: relative;
    top: 30vw;

    color: rgb(255,255,255,1);
    font-weight: bold;
    font-size: 4vw;
    transition: 0.6s ease;
    border-radius: 100%;
    user-select: none;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
    background-color: rgb(0,0,0,0.2);
    z-index: 3;
}

@media only screen and (max-width: 1000px) 
{
    .prev, .next 
    {
        top: 40vw;
    }
}

/* Position the "next button" to the right */
.next 
{
    right: 0;
    float:right;
    border-radius: 100%;
}

.prev 
{
    left: 0;
    float:left;
    border-radius: 100%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover 
{
    color: red;
}

/* Caption text */

.text img
{
    display: none;
}

@media only screen and (max-width: 1000px) 
{
    .text img
    {
        top: 40vw;
        left: 9vw;
        width: 80%;
    }
}

.textHeader
{
    position: absolute;
    font-size: 2vw;
    padding: 1vw 1vw;
    top: 10vw;
    left:2vw;
    float: left;
    text-align: left;
    font-weight: bolder;
    color: black;
    font-family: sans-serif;
    background:  rgba(255,255,255, 0.5);
    width:35vw;
    z-index: 1;
}

.text01 
{
    position: absolute;
    font-size: 1.5vw;
    padding: 1vw 1vw;
    top: 15vw;
    left: 2vw;
    float: left;
    text-align: left;
    font-weight: normal;
    color: black;
    font-family: sans-serif;
    background:  rgba(255,255,255, 0.5);
    width:35vw;
    z-index: 1;
}

@media only screen and (max-width: 1000px) 
{
    .text01 
    {
        float: none;
        font-size: 3vw;
        position: relative;
        top: 67vw;
        left: 0vw;
    }
}

.textButton
{
    position: absolute;
    top: 30vw;
    left: 2vw;
    padding: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 1.5vw;
    font-family: Arial;
    font-weight: bolder;
    background: rgb(0,100,100,0.8);
    border: 0.3vw solid transparent;
    color: black;
    z-index: 2;

    transition: .3s ease;
}

.textButton:hover
{
    transform:  scale(1.05);
    border: 0.3vw solid white;
}

@media only screen and (max-width: 1000px) 
{
    .textButton
    {
        position: absolute;
        font-size: 2.5vw;
        top: 90vw;
    }
}

@media only screen and (max-width: 600px) 
{
    .numbertext
    {
            top: 10vw;
            left: 0vw;
    }
}

@media only screen and (max-width: 1000px) 
{
    .text
    {
        padding: 3.6vw 1vw;
    }
}

/* The dots/bullets/indicators */
.dot_collection
{
    position: absolute;
    top: 45vw;
    left: -1vw;
    width: 100%;
    z-index: 1;
}

@media only screen and (max-width: 1000px) 
{
    .dot_collection
    {
        top: 100vw;
        left: 0vw;
    }
}

.dot 
{
    height: 1vw;
    width: 1vw;
    cursor: pointer;
    border-radius: 0%;
    display: inline-block;
    transition: black 0.6s ease;
    border: 0.25vw solid transparent;
    border-radius: 20%;
    background-color: white;
}


.activedots, .dot:hover 
{
    background-color: skyblue;
    border: 0.25vw solid skyblue;
    border-radius: 20%;
}

/* Fading animation */
.fade 
{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade 
{
    from {opacity: .1} 
    to {opacity: .8}
}

@keyframes fade 
{
    from {opacity: .1} 
    to {opacity: .8}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.Game_Assessment
{
    left:center;
    position: relative;
    text-align: center;   
    font-weight: bolder;
    font-family: sans-serif;
    color: Black;
    font-size: 3vw;
}

.Reviews_and_comments
{
    top: 1.5vw;
    left:-6vw;
    position: relative;
    text-align: center;   
    font-family: sans-serif;
    color: white;
    font-size: 2vw;
}

/*EXPLORE GAMES TITLE*/
.Explore_Games
{
    top: 1.5vw;
    left:-6vw;
    position: relative;
    text-align: center;   
    font-family: sans-serif;
    color: black;
    font-size: 2vw;
}

@media only screen and (max-width: 1000px) 
{
    .Explore_Games
    {
        font-size: 5vw;
    }
}

/*EXPLORE GAMES TITLE*/
.More_On_Mental_Health
{
    top: vw;
    left:-25vw;
    position: relative;
    text-align: center;   
    font-family: sans-serif;
    color: black;
    font-size: 2vw;
}

@media only screen and (max-width: 1000px) 
{
    .More_On_Mental_Health
    {
        font-size: 5vw;
    }
}

/* Slideshow containers */
.slideshow-container01
{
    top: 210vw;
    position: absolute;
    padding: 1rem;
    margin: auto;
    transition: transform .60s; /* Animation */
    text-align: center;
    width: 100%; 
    left: 0vw;
    
    background-image: url("Style%20Images/best-mental-health-apps-2021-1611590537.png");
    
        /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    
    z-index: 1;
}

.slideshow-container02
{
    top: 270vw;
    position: absolute;
    padding: 2.5vw;
    margin: auto;
    transition: transform .60s; /* Animation */
    text-align: center;
    width: 100%; 
    left: 0vw;
    
    background-image: url("Style%20Images/6676242.jpg");
    
        /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    
    z-index: 1;
}

.slideshow-container-content
{
    position: relative;
    left:5vw;
}

.slideshow-container02-content
{
    position: relative;
    left:5vw;
}

.slideshow-container01 img:hover
{
    transform: scale(1.01); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.slideshow-container02 img:hover
{
    transform: scale(1.01); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

@media only screen and (max-width: 1000px) 
{
    .slideshow-container01
    {
        width: 100%;
        left: 0vw;
        top: 120vw;
    }
}

/* Next & previous buttons */
.prev01, .next01, .prev02, .next02 
{
    position: absolute;
    cursor: pointer;
    color: rgb(0,0,0);
    font-weight: bold;
    font-size:4vw;
    transition: 0.6s ease;
    border-radius: 100%;
    user-select: none;
    padding-left: 0.1vw;
    padding-right: 0.1vw;
    padding-bottom: 0.2vw;
    padding-top: 0.2vw;
    background-color: transparent;
}

@media only screen and (max-width: 1000px) 
{
    .prev01, .next01 
    {
        font-size: 4vw;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-bottom: 0.5vw;
        padding-top: 0.5vw;
        top: 158vw;
    }
}

/* Position the "next button" to the right */
.next01
{
    right: 5vw;
    top: 10vw;
    float:right;
    border-radius: 100%;
    color: white;
}

.prev01
{
    top: 10vw;
    left: 4vw;
    float:left;
    border-radius: 100%;
    color: white;
}

.next02
{
    right: 5vw;
    top: 10vw;
    float:right;
    border-radius: 100%;
    color: white;
}

.prev02
{
    top: 10vw;
    left: 4vw;
    float:left;
    border-radius: 100%;
    color: white;
}

/* On hover, add a black background color with a little bit see-through */
.prev01:hover, .next01:hover, .prev02:hover, .next02:hover 
{
    color: black;
}

.textButton01
{
    position: relative;
    top: 28vw;
    left: 4vw;
    padding: 1vw;
    padding-left: 4vw;
    padding-right: 4vw;
    font-size: 1.5vw;
    font-family: Tw Cen MT;
    background-color: darkgreen;
    border-color: transparent;
    color: white;
    z-index: 2;
}

.textButton01:hover
{
    color: black;
}

@media only screen and (max-width: 1000px) 
{
    .textButton01
    {
        position: absolute;
        font-size: 2.5vw;
        top: 90vw;
        left: 37vw;
    }
}

/* Number text (1/3 etc) */
.numbertext01
{
    color: #f2f2f2;
    font-size: 1.5vw;
    padding: 2vw 1vw;
    position: absolute;
    color: white;
    font-family: Arial Rounded MT;
    top: 4vw;
    left: 0vw;
    background: rgb(0,0,0,0.5);
    border-bottom-right-radius: 50%;
    z-index: 2;
}

@media only screen and (max-width: 1000px) 
{
    .numbertext01
    {
            top: 6vw;
            left: 0vw;
    }
}

@media only screen and (max-width: 600px) 
{
    .numbertext01
    {
        top: 10vw;
        left: 0vw;
    }
}

/* The dots/bullets/indicators */
.dot_collection01
{
    position: absolute;
    top: 230vw;
    left: 45.5%;
    z-index: 3;
}

.dot_collection02
{
    position: absolute;
    top: 304vw;
    left: 45.5%;
    z-index: 3;
}
@media only screen and (max-width: 1000px) 
{
    .dot_collection01
    {
        top: 280vw;
        left: center;
    }
}

.dot01
{
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 0%;
    display: inline-block;
    transition: background-color 0.6s ease;
    background-color: grey;
}

.dot02
{
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 0%;
    display: inline-block;
    transition: background-color 0.6s ease;
    background-color: grey;
}
.active01, .active02, .dot01:hover ,.dot02:hover 
{
    background-color: skyblue;
}

/* Fading animation */
.fade01
{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

.fade02
{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade 
{
    from {opacity: .1} 
    to {opacity: 2}
}

@keyframes fade 
{
    from {opacity: .1} 
    to {opacity: 2}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 1000px) 
{
    .prev01, .next01 
    {
        font-size: 10vw;
    }
    
    .next01 
    {
        top: 155vw;
        right: 1vw;
    }
    
    .prev01 
    {
        top: 155vw;
        left: 1vw;
    }
}

.game_Results_gallery
{
    background: rgb(0,0,0,0.5);
    position: absolute;
    top: 360px;
    width: 100%;
    text-align: center;
}

.game_Results_gallery h1
{
    color: white;
    text-align: center;
}

/*Image Gallery*/
div.gallery 
{
    position: relative;
    margin: 1.5vw;
    left: 10%;
    text-align: center;
    float: left;
    border: 0.25vw solid transparent;
    width: 150px;
    padding: 1vw;
}

@media only screen and (max-width: 1000px) 
{
    div.gallery
    {
        left: 2.5vw;
        margin: 0.5vw;
        padding: 1vw;
        width: 43%;
        padding: 1vw;
    }
}

div.gallery:hover 
{
    border: 0.1vw solid white;
    animation-name: example;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}


div.gallery img 
{
    width: 100%;
    height: auto;
    border-radius: 10%;
}

div.desc
{
    background: transparent;
    font-size: 15px;

    color: white;
    text-align: center;
    font-family: sans-serif;
}

@media only screen and (max-width: 1000px) 
{
    div.desc 
    {
        font-size: 0vw;
    }
}


@keyframes zoomer
{
    0%   {transform: scale(1.1); left:-150vw;}
    15% {transform: scale(1.1);left:0vw;}
    100% {transform: scale(1);}
}

@keyframes example
{
    0%   { top:0vw;}
    50% {top:-2vw;}
    100%   {top:0vw;}
}

@media only screen and (max-width: 1000px) 
{
    @keyframes example
    {
        0%   { top:0vw;}
        50% {top:-2vw;}
        100%   {top:0vw;}
    }
}



    /*GAME LAYOUT*/
.pac-man_game
{
/*    JavaSript: CSS You Have no Power Here
    CSS: Damn it All*/
    position: absolute;
    top: 10vw;
    left: 10vw;
}

/*Ratings*/
.review_header
{
    position: relative;
    top: -140vw;
    font-size: 4vw;
    z-index: 1;
    color: white;
    font-family: Agency FB;
    text-align: center;
    text-decoration: overline;
    text-shadow: 0vw 0.1vw black,
                 0.1vw 0vw black,
                 0vw -0.1vw black,
                 -0.1vw 0vw black;
}

.rating_box
{
    position: absolute;
    padding: 1vw;
    z-index: 1;
    width: 100%;
    background: white;
    font-family: calibri;
    font-size: 1vw;
}

.heading 
{
    font-size: 25px;
    margin-right: 25px;
}

.fa 
{
    font-size: 25px;
}

.checked 
{
    color: orange;
}

/* Three column layout */
.side 
{
    float: left;
    width: 15%;
    margin-top:10px;
}

.middle 
{
    margin-top:10px;
    float: left;
    width: 70%;
}

/* Place text to the right */
.right 
{
    text-align: right;
}

/* Clear floats after the columns */
.row:after 
{
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container 
{
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-10 {width: 90%; height: 1vw; background-color: lightgreen;}
.bar-9 {width: 80%; height: 1vw; background-color: green;}
.bar-8 {width: 70%; height: 1vw; background-color: darkgreen;}
.bar-7 {width: 60%; height: 1vw; background-color: yellow;}
.bar-6 {width: 50%; height: 1vw; background-color: orange;}
.bar-5 {width: 40%; height: 1vw; background-color: brown;}
.bar-4 {width: 30%; height: 1vw; background-color: red;}
.bar-3 {width: 20%; height: 1vw; background-color: pink;}
.bar-2 {width: 10%; height: 1vw; background-color: deeppink;}
.bar-1 {width: 5%; height: 1vw; background-color: rebeccapurple;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) 
{
    .side, .middle 
    {
        width: 100%;
    }
    .right 
    {
        display: none;
    }
}


@media only screen and (max-width: 1000px) 
{
    .review_header
    {
        position: relative;
        top: -180vw;
        font-size: 4vw;
        z-index: 1;
        color: white;
        font-family: Agency FB;
        text-align: center;
        text-decoration: overline;
    }

    .rating_box
    {
        position: absolute;
        top: 940vw;
        left: 5vw;
        z-index: 1;
        width: 90%;
        padding: 1vw;
        background: white;
        font-family: calibri;
        font-size: 2vw;
    }

    .rating_box01
    {
        position: absolute;
        top: 990vw;
        left: 5vw;
        z-index: 1;
        width: 90%;
        padding: 1vw;
        background: white;
        font-family: calibri;
        font-size: 2vw;
    }

    .rating_box02
    {
        position: absolute;
        top: 1045vw;
        left: 5vw;
        z-index: 1;
        width: 90%;
        padding: 1vw;
        background: white;
        font-family: calibri;
        font-size: 2vw;
    }
}

.example-video-section
{
    position: absolute;
    top: 240vw;
    right: 5vw;
}

.example-video-section iframe
{
    width: 40vw;
    height: 21vw;
}

.More_On_Mental_Health_text
{
    position: absolute;
    left: -50vw;
}


/*Footer*/
.marketing-site-footer 
{
    position: relative;
    top: 50px;
    background: #2c3840;
    color: #8aa0ae;
    padding: 2rem 0 0;
        z-index: 0; /* Sit on top */
}

.marketing-site-footer .marketing-site-footer-menu-social a {
    color: #fefefe;
}

.marketing-site-footer .column-block {
    margin-bottom: 30px;
}

.marketing-site-footer > .row {
    margin-bottom: 1rem;
}

@media screen and (max-width: 39.9375em) {
    .marketing-site-footer .columns {
        margin-bottom: 2rem;
    }
}

.marketing-site-footer-name {
    color: #fefefe;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.marketing-site-footer-title {
    color: #fefefe;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.marketing-site-footer-block {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
}

.marketing-site-footer-block .fa {
    font-size: 2rem;
    color: #020304;
}

.marketing-site-footer-block p {
    margin-left: 1rem;
    line-height: 1.125rem;
}

.marketing-site-footer-bottom {
    background: #020304;
    padding: 1rem 0;
}

.marketing-site-footer-bottom p,
.marketing-site-footer-bottom .menu {
    margin-bottom: 0;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links a {
    color: #8aa0ae;
}

@media screen and (max-width: 63.9375em) {
    .marketing-site-footer-bottom .marketing-site-footer-bottom-links {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media screen and (max-width: 63.9375em) {
    .marketing-site-footer-bottom {
        text-align: center;
    }
}

/*IMPORTANT*/
.padding_bars
{
    position: absolute;
    top: 0vw;
    left: -0.1vw;
    transform:  scale(1);
}

@media screen and (max-width: 1000px) 
{
    .padding_bars
    {
        top: 0vw;
        left: -0.1vw;
        transform:  scale(1);
    }      
}